.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  mat-card {
    width: 80vw;
    height: max-content;
    margin: 16px 0;

    td , th {
      white-space: normal;
      word-wrap: break-word;
      max-width: 500px;
    }
    
    table {
      width: 100%;
    }
  }

  .charts-container {
    display: flex;
    flex-direction: row;
    column-gap: 32px;
  }

  .table, .charts-container {
    width: 80vw;
  }
}
